# Use mnemonic or private key
MNEMONIC=""
PK=""

# RPC URL
NODE_URL="https://rpc.flame.astria.org/"

# This doesn't matter, but it's required
ETHERSCAN_API_KEY="abc"

# Blockscout API URL
ETHERSCAN_API_URL="https://explorer.flame.astria.org/api"
